* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  position: relative;
  background-color: #f5f5f5;
}
ul.nav-pills {
  top: 20px;
  position: fixed;
}
.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}
.vertical-nav li a {
  color: #fff;
}
.vertical-nav .nav-item {
  color: #fff;
}
.fa-bars {
  color: #fff;
  font-size: 30px;
}
.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}
/* for toggle behavior */
#sidebar.active {
  margin-left: -17rem;
}
#content.active {
  width: 100%;
  margin: 0;
}
.bottom-list {
  position: absolute;
  bottom: 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  top: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #28a745;
}
input:focus + .slider {
  box-shadow: 0 0 1px #28a745;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.user-bg {
  background-color: #fff;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  padding: 16px;
}
.sidebar .fa-comment {
  margin-right: 0px;
}
sup {
  background-color: red;
  border-radius: 100%;
  display: inline-block;
  padding: 8px 5px;
  margin-right: 10px;
  margin-left: -10px;
}
.top-fixed {
  position: fixed;
  right: 0;
  z-index: 1030;
}
.dis-inline {
  display: inline-block;
}
.card .fa-exclamation-circle {
  float: right;
}
.card-bg {
  background-color: blue;
}
section {
  padding: 30px 0;
}
section .card {
  height: 100%;
}

#selectFormmControl {
  border-width: 0 0 1px 0;
  border-color: #dedede;
  border-style: solid;
  padding-left: 0;
}
#privacy .sub-text {
  left: -4px;
  font-size: 60%;
}
#privacy .fa-star,
#privacy .fa-star-half {
  color: #d4d413;
  font-size: 30px;
}
.vertical-scrolling-nav li {
  border-left: 1px solid #dedede;
}
.vertical-scrolling-nav li .active {
  border-left: 2px solid #343a40;
  position: relative;
  left: -2px;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
  .top-fixed {
    right: 30px;
  }
}

@media (max-width: 468px) {
  .top-fixed {
    position: relative;
  }
}
