* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
html,
body,
.container-fluid,
.row {
	height: 100%;
}
p {
	color: #9b9b9b;
}
ul {
	list-style: none;
}

.sidebar {
	background-color: #3c3c3c;
}
.sidebar li {
	padding: 10px 0;
}
.bottom-list {
	position: absolute;
	bottom: 0;
}

@media (min-width: 992px) {
	.sidebar {
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 1000;
		display: block;
	}
}
